**/.git
**/.gitignore
**/.vs
**/.vscode
**/.dockerignore
**/[Bb]in
**/[Oo]bj
**/[Ll]og
**/[Ll]ogs
**/[Dd]ebug
**/[Rr]elease
**/TestResults
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal
**/attachments
**/wwwroot/uploads
**/node_modules
**/.DS_Store
**/Thumbs.db
